body{
    background-color: rgb(238, 194, 243);
}
*{
  transition: opacity 0.15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.main{
  margin-top: 3rem;
}
.div-center{
    /* margin: 2rem; */
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1,p{
    margin: 0;
}
.process-table{
    /* margin: 4rem; */
    padding: 2rem;   
    margin-top:0; 
    padding-top: 0;
}
.table td,th{
    padding: 1rem;
    border: 1px solid white;
    background-color: transparent;

}
tr:hover{
    background-color: rgb(244, 226, 239);
}
.tablenbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttons{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

 button,.btn{
    color: black;
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    font-size: large;
    /* border:  */
    border-radius: 1rem;
    background-color: rgb(224, 118, 236);
    transition: all 0.5s;
}
 button:hover,.btn:hover{
    background-color: rgb(244, 226, 239);
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  /* max-width: 300px; */
  width: 20rem;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: -0.5rem;
  padding: 1rem;
}

/* Full-width input fields */
.form-container input[type=number] {
  /* width: 100%; */
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=number]:focus{
  background-color: #ddd;
  outline: none;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
select{
  padding: 0.5rem;
  background-color: rgb(244, 226, 239);
  margin-bottom: 1rem;
}
.timeq input{
  padding: 0.5rem;
  margin: 0.5rem;
}
.dropdown{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
}
.gantt_FCFS, .gantt_SJFnonprem, .gantt_SJFprem, .gantt_priority, .gantt_rr{
  display: none;
  flex-direction: row;
  margin-bottom: 1rem;
}

.gantt-box {
	position: relative;
	border: 3px solid #73AD21;
	height: 5px;
	padding: 50px;
	text-align: center;
}

.gantt-box-left {
	position: absolute;
	left: 0;
	margin-left: 3px;
	bottom: 0;
}

.gantt-box-right {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 3px;
}
#vis_btn {
	background-color: hsl(273, 100%, 66%);
	transition: opacity 0.15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	color: aliceblue;
}


.cpu {
	background: url('./images/cpu.png') no-repeat;
	background-size: cover;
	width: 120px;
	height: 120px;
	margin: 20px;
}

.readyqueue {
	background: url('./images/fast-time.png') no-repeat;
	background-size: contain;
	height: 120px;
	width: 120px;
}
.fitem {
	display: flex;
	/* border: 2px solid #73AD21; */
	width: 120px;
	height: 120px;
	/* margin: 20px; */
	justify-content: center;
	align-items: center;
}

.rq{
  display: flex;
  flex-direction: row;
}
.df{
  display: flex;
  flex-direction: row;
}